

.dashboard{
/* 
   box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius); */
}
.box{
    height: 50px;
    width: calc(100% - 40px);
    padding: 10px; 
    border-top-left-radius: 12px;
   border-top-right-radius: 12px;
}
.heading-area{
    font-size: 24px;
    color: rgb(9, 9, 77);
    display: flex;
    justify-content: space-between;
}
.export{
    padding: 8px 14px ;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    align-items: center;
      box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius);
    gap: 5px;
}
.subheading{
    color: gray;
    font-size: 16px;
}
.box-area{
  height: fit-content;
  width: calc(100% - 40px);
  background-color: white;
  display: flex;
  justify-content: space-around;
   gap: 20px;
   padding: 0px 20px ;
   margin-bottom: 10px;

}
.box-item{
   height: auto;
   width: 20%;
   display: flex;
   flex-direction: column;
   padding: 10px;
 box-shadow: var(--default-box-shadow);
  border-radius: var(--default-border-radius); 
}


.icon{
    font-size: 24px;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}
.value{
    font-size: 24px;
    font-weight: 600;
    margin-top: 10px;
}
.title{
    font-size: 14px;
    margin-top: 10px;
}